
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background:#004A80; 
	padding: 68px 0 0 0 !important;
	font-size: 12px;
}
body.idi{
	background: #000;
}
body.idi a{
	color:#BB0000;
}
body.idi a:hover{
	color:#DD0000;
}
body.idi *{
	border-radius: 0 !important;
}
input,textarea{
	border: dotted 1px #ccc !important;
	background: rgba(250,250,250,1) !important;
}
textarea{
	width: 100%;
	resize: none;
	display: block;
	box-sizing: border-box;
}

.navbar{
	border-top:6px solid #005c90;
	margin:0 !important;
	position: fixed !important;
	padding: 0 !important;
}
body.idi .navbar{
	border-top:6px solid #DD0000;
}
.nav{
	margin-bottom: 20px;
	margin-left: 0;
	list-style: none;
	padding-bottom: 10px;
	padding-top: 20px !important;
}
.nav a{
	border-radius: 0px;
}
.filter-navigation.nav{
	padding-bottom: 0;
	padding-top:0 !important;
}
.navbar-inner{
	background:#FFF;
	padding: 0 20px 0 18px !important;
}
.navbar-inner img{
	float:left;
	margin:12px 0 10px 0;
}
.navbar-form{
	margin:12px 0;
	border:none !important;
}
.navbar-form label{
	line-height: 29px;
	margin-right: 8px;
	color: #AAA;
	vertical-align: bottom;
	display: inline;
}
.nav-tabs>li>a:hover{
	background: none;
}
.image-container{
	position: relative;
	margin-bottom: 10px;
}
.image-container img{
	position: absolute;
	top:0;
	left:0;
}
label.error{
	display: none !important;
}
input.error{
	border: dotted 1px #cc0000 !important;
}
body:not(.dealer) #complete ul.items span.price{
	opacity: 0;
}
body.idi #brand-header.navbar .navbar-inner{
	background:#000;
	border:none;
}
#brand-header.navbar .container-fluid{
	background:none;
}
.image-container img:first-child{
	position: relative;
}
#user-info{
	display: none;
}

#dealer-login-form{
	/*display: none;*/
}

#main-container{
	-webkit-box-shadow: 0 5px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 6px rgba(0,0,0,0.2);
	box-shadow: 0 5px 6px rgba(0,0,0,0.2);
	margin-bottom: 0px !important;
}
#main-content{
	border-right: dotted 1px #ccc;
	margin-bottom: 20px;
	padding-left: 20px;
}
#main-container.complete #main-content,
#main-container.no-selections #main-content{
	width: 100% !important;
}
#main-container.complete #mini-configuration,
#main-container.no-selections #mini-configuration{
	display: none;
}
.container-fluid{
	background: #FFF;
	padding:0 !important;
}

#pageTabs{
	padding-top:38px;
	background:#e4eeee;
	border:none;
	padding-left: 20px;
}

#pageTabs li.inactive a{
	opacity: .2;
	cursor: default; !important;
}

#pageTabs li a{
	border-radius: 0;
	font-size: 12px;
	border:none !important;
	background: rgba(255,255,255,.4);
}
#pageTabs li.active a{
	background: #FFF;
	font-weight: 800;
}
#pageTabsContent{
	margin:0 auto;
}

body.idi #pageTabs{
	background:#000;
}

body.idi li a{
	background: rgba(255,255,255,.1);
}
body.idi #pageTabs >li>a{
	color: #999;
	background: #FFF;
}
body.idi #pageTabs >li.active>a{
	color: #FFF;
	background: #DD0000;
}
body .heading-bar p a{
	display: none;
}
.tab-pane{
	overflow: hidden;
}
.tab-pane:not(#trailers){
	padding-right: 20px;
}
.tab-pane .btn-group{
	width:100%;
	text-align: right;
	margin-bottom: 10px;
}
.trailer{
	width:20%;
	margin:0 !important;
	cursor: pointer;
}
.trailer:hover img{
	opacity: .8;
}
.thumbnails{
	margin:-14px 0 0 0;
}
.thumbnails>li{
	float: left !important;
}
.thumbnail{
	padding:0 20px 0 0;
	background: #FFF;
	position: relative;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:none;
	margin-top: 14px;
	border-radius: 0;
}
.thumbnail a.fancybox{
	float: right;
	right: 20px;
	top: 2px;
	position: absolute;
	z-index: 1000;
	padding: 4px 8px;
	opacity: .7;
}
.thumbnail a.fancybox:hover{
	opacity: 1;
}
.thumbnail p{
	font-size: 12px;
	line-height: 15px;
	margin:0;
}
.thumbnail img{
	margin:0 0 10px 0;
	width: 100%;
}
.thumbnail h3{
	padding-top: 2px;
	font-size: 20px;
	line-height: 20px;
	margin-top:-3px;
}
.accordion-group{
	border: 1px dotted #CCC;
}
.accordion-group:hover{
	border: 1px dotted #BBB;
}
.accordion-group.selected .selection{
	color: #999;
	padding-left: 6px;
}
.accordion-heading .accordion-toggle{
	padding:10px 12px;
}
.accordion-heading .accordion-toggle span.checkmark{
	float: right;
	margin-top: -3px;
	width: 16px;
	height: 16px;
}
.accordion-group.selected .accordion-heading .accordion-toggle{
	background: #005c90;
	color: #FFF;
	font-weight: 800;
}
.accordion-group.selected .accordion-heading .accordion-toggle span{
	color: #55AEE5;
}
.accordion-group.selected .accordion-heading .accordion-toggle span.checkmark{
	background:url('../img/checkmark.jpg') no-repeat;
	background-position: 0 -16px;
}
.accordion-group.selected .accordion-heading .accordion-toggle span.checkmark:hover{
	background-position: 0 0;
}
.accordion-heading{
	line-height: 12px;
}
.accordion-heading a:hover{
	text-decoration: none;
}
.accordion-body{
	padding:0 8px 0 8px;
}

body.idi .accordion-group.selected .accordion-heading .accordion-toggle{
	background: #DD0000;
}
body.idi .accordion-group.selected .accordion-heading .accordion-toggle span{
	color: #FFFFFF;
	opacity: .75;
}
body.idi .accordion-group.selected .accordion-heading .accordion-toggle span.checkmark{
	background:url('../img/checkmark_idi.jpg') no-repeat;
	opacity: 1;
}

.btn-group-vertical .btn{
	width:100%;
	text-align: left;
	font-size: 12px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:none;
	background: rgba(240,240,240,1);
	color: #777;
}
.btn-group+.btn-group {
	margin:0;
}
.btn.btn-navbar{
	padding:8px 8px 11px 8px;
	margin:12px 0 0 0;
}
.btn.btn-navbar label{
	color: #CCC;
	position: absolute;
	right: 60px;
	line-height: 16px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow:none;
}
a.fancybox fancybox.iframe{
	line-height: 16px;
}
.collapse {
	-webkit-transition: height .2s ease;
	-moz-transition: height .2s ease;
	-o-transition: height .2s ease;
	transition: height .2s ease;
}
.finish-nav{
	text-align: right;
	padding-bottom: 10px;
	z-index: 300;
	position: relative;
}
.finish-nav h4{
	background: #ccc;
	padding: 10px;
	text-align: center;
	margin: 0 0 18px 0;
	border-radius: 4px;
}
.finish-nav h6{
	text-align: left;
	border-top:1px solid #666;
	padding-top: 10px;
}
.finish-nav .dealer-only{
	display: none;
}
.dealer .finish-nav .dealer-only{
	display: initial;
}
.finish-nav input.dealer-only,
.finish-nav form#userform input{
	width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 14px 10px;
    margin-bottom: 0;
}
.finish-nav p{
	border-top:1px solid #CCC;
	
	text-align:left;
	padding-top: 6px;
	color: #CCC;
}
.dealer .finish-nav p{
	display: block !important;
}

.btn-group>.btn+.btn {
	margin-left: 1px;
}
.btn-primary{
	font-weight: 200;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #004A80;
	border:none;
}
.btn-primary:hover{
	background: #e4eeee;
	color: #333;
	border:none;
}
.btn-group.nav-buttons .btn{
	margin-left: 4px !important;
}
.btn-group-vertical div{
	margin:0 0 2px 0;
}
.btn-group-vertical .btn.active{
	background: #DDD;
}
.btn-group-vertical .nav.nav-pills{
	position: absolute;
	right:4px;
	margin:4px;
}
.btn-group-vertical div {
	float: left;
	width: 100%;
}
.btn-group-vertical .btn:hover{
	background: #DDD;
}
.btn-group-vertical button{
	margin-right: 0px;
	padding-left: 11px;
}
.btn-group-vertical div a{
	position: relative;
	float: right;
	line-height: 10px !important;
	padding: 1px 8px 7px 8px;
}

.configuration-content ul h4{
	margin: 0 0 4px 3px;
	padding: 0;
	font-size: 13px;
	color: #666;
}
.btn[disabled]{
	opacity: .2;
}
.configuration-content .thumbnail{
	background: none;
	margin-top:0;
}
.configuration-content img{
	margin-top:10px;
}

.configuration-content ul{
	margin: 0 0 4px 0;
	list-style: none;
	padding: 6px;
	background: #EEE;
	border-radius: 4px;
	border:dotted 1px #BBB;
}
.configuration-content ul li{
	background: #FFF;
	position: relative;
	line-height: 14px;
	padding: 4px 8px 4px 8px;
	margin-bottom: 1px;
	font-size: 12px;
}
.configuration-content ul.part-number li{
	display: inline-block;
	margin-right: 1px;
	margin-bottom: 0px;
	padding: 4px;
	text-transform: uppercase;
	font-weight: 800;
}
.configuration-content ul.part-number li.inactive{
	padding:4px 4px 4px 4px;
	margin: 0 2px 0 2px;
	background: #CCC;
}
.configuration-content ul li span.lbl{
	font-weight: 800;
}

.configuration-content ul li span.price{
	color: #000;
	float: right;
}
#mini-configuration ul li span.price{
	display: none;
}

ul.price{
	padding: 6px 0 4px 0;
	margin: 0 0 10px 0;
	background: none;
	border-radius: 0;
	border-right: none;
	border-left: none;
}
ul.price li{
	padding: 0;
	margin: 0;
	background: none;
}
ul.price li h3, ul.price li h4{
	color: #777;
	padding: 0;
	margin: 0;
	line-height: 16px;
	font-size: 16px;
	display: inherit;
}
ul.price li h3 span, ul.price li h4 span{
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0px;
}

ul.price li h4{
	font-size: 14px;
	color: #999;
	font-weight: 200;
}

.configuration-content ul li a{
	position: absolute;
	right: 0;
	top: 0;
	padding: 2px 8px;
	cursor: pointer;
	opacity: .5;
}
.configuration-content ul li a:hover{
	opacity: 1;
}
.configuration-content ul li.trailer-item{
	font-weight: 800;
	background-color: #005c90;
	color: #FFF;
	padding: 10px 8px;
}
.configuration-content p{
	margin-bottom: 10px;
}

#mini-configuration{
	padding-bottom: 20px;
}

#full-configuration img{
	width:100%;
}
.heading-bar{
	position: relative;
	margin: 0;
	padding:0px 20px;
	background: #005c90;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	margin-bottom: 0px !important;
}
body.idi .heading-bar{
	background: #DD0000;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.heading-bar h1{
	line-height: 30px;
	padding: 0 0 0 0;
	margin: 0;
	font-size: 18px;
	color: #FFF;
	font-weight: 100;
	letter-spacing: .1em;
}
.heading-bar p{
	position: absolute;
	right: 20px;
	top:4px;
}
.heading-bar p i{
	margin: 0px 2px 0 0;
}
.heading-bar a{
	cursor: pointer;
	color: #FFF;
}
.heading-bar a:hover{
	text-decoration: none;
}

div.config-title h3{
	display: inline-block;
}

div.config-title h3.price{
	float: right;
}
div.status
{
	margin-bottom: 10px;
}
div.status p{
	background-color: #069034;
	padding:4px 6px;
	border-radius: 4px;
	font-size: 10px;
	line-height: 10px;
	color: #fff;
}
div.status p#config-incomplete{
	background: #DD3333;
}
div.status p i{
	margin: 0px 2px 0 0;
}
div.status p#config-complete{
	display: none;
}
body.complete div.status p#config-complete{
	display: inherit;
}
body.complete div.status p#config-incomplete{
	display: none;
}
.require-dealer{
	display: none;
}

body.dealer .require-dealer{
	display: block;
}
body.dealer .hide-on-dealer{
	display: none;
}
#promo-code-btn{
	border-radius: 0 4px 4px 0;
}
#promo-code-form{
	display: inline-block;
}
#promo-code-field{
	margin: 0;
	border-radius: 4px 0 0 4px;
	border-right: none !important;
	width: 100px;
}
.require-promo{
	display: none;
}
body.promo .require-promo{
	display: block;
}
body.promo .cj-price h3{
	font-weight: 200;
	color: #999;
	font-size: 14px !important;
}
.choice.disabled{
	display: none !important;
}

@media (min-width: 1200px) {
	.trailer{
		width: 20%;
	}
	#pageTabsContent{
		max-width: 1200px;
	}

	/*.btn-group-vertical div {
		width: 33.333333333333%;
	}*/
}

@media (max-width: 980px) {
	.trailer{
		width: 33.3333%;
	}

	#pageTabsContent{
		max-width: 800px;
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.navbar-form label{
		display: none;
	}
	.navbar-form input{
		width: 42%;
	}
	
}

@media (max-width: 768px) {
	#mini-configuration div.thumbnail{
		padding:0 30px;
	}
	.navbar-form .btn{
		margin-top:8px;
	}
	.navbar-form label{
		display: none;
	}
	#mini-configuration{
		border-top: 1px dotted #CCC;
		padding-top: 20px;
		background: rgba(240,240,240,1);
	}
	#main-content{
		border-right: none;
	}
	.trailer{
		width: 33.333333%;
	}
}

@media (max-width: 540px) {
	.btn-group-vertical div {
		width: 100%;
	}
	#pageTabs li a {
		padding:13px 8px !important;
	}
	.trailer{
		width: 50%;
	}
}

@media (max-width: 350px) {
	.trailer{
		width: 100%;
	}
	.btn.btn-navbar label{
		display: none;
	}
}






